<!-- <div class="headerIntro"> -->
<!-- <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Michael Brooks and the son who never knew him</h1> -->

<!-- </div> -->
{% include "gridHeader.html" %}


<div class="headerSection">
    <div class="BackgroundImageCaption">
        This is a photo caption.
    </div>
    <div class="headDisplay">

    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <div class="subHead">
                This is the subhead.
            </div>
            <div class="byline">
                Mike Sielski / Staff Writer, <a href="mailto:msielski@phillynews.com">msielski@phillynews.com</a>
                <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
            </div>
            <div class="dateline">Thursday, Aug. 10, 2017</div>
            <p><span class="dropCap">M</span>ichael Johnson-Brooks stood alone at a pale wooden lectern in a La Salle University auditorium in early December, dressed in a man’s uniform of mourning: dark suit, white shirt, dark tie. A giant image of his
                father’s mustached face flickered in muted sepia and pewter on a projection screen behind him, blanketing him in shadow. To his left, next to a vase of orange and purple roses, rested a gray, metallic urn. Michael Brooks, 58, the La Salle
                and West Catholic High School basketball star, had died on Aug. 22 in Switzerland. After a Catholic funeral Mass there, he had been cremated, and his ashes had been shepherded across the Atlantic Ocean during the week of this memorial
                celebration. It was the first time, alive or dead, he had been in the same room with his son.</p>
            <!-- <div class="imagebreak">
                <div class="img-fluid">
                    <img src="http://media.philly.com/images/brooks_collage_square.jpg" width="100%" />
                    <div class="containerPhotoCaption" alignment="true">Collage of Michael Brooks.</div>
                </div>
            </div> -->
            <p>Johnson-Brooks pressed a sheet of paper against the lectern’s angled top and lowered his head into dull light, leaving in full view only the upper half of his face—the intense eyes, shaped and colored like almonds, and the aquiline nose that
                so many people told him resembled his father’s features. He kept his eyes on the two Biblical excerpts printed on that paper, rather than doing what he had done throughout the ceremony’s first hour: stealing glances at the urn. Before
                arriving at La Salle, he had been nervous throughout the morning, setting aside time to pray, asking God to grant him the poise to talk about his father without his voice breaking. Whatever emotions might start simmering inside him, he
                didn’t want to reveal them. He did not know how he was supposed to act in such a moment—what’s the proper way to grieve for a man who shared with you so much of his blood and so little of his life?—but he did know that he did not want
                the moment to overwhelm him.</p>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-12 col col-md-offset-0" alignment="true">
            <div class="imagebreak">
                <div class="img-fluid">
                    <img src="http://media.philly.com/images/RS_1200x800_20170802_SIELSKI31_B_362819026.JPG" width="100%" />
                    <div class="containerPhotoCredit">JESSICA GRIFFIN / Staff Photographer</div>
                    <div class="containerPhotoCaption" alignment="true">Michael Brooks Jr., son of former West Catholic High and La Salle University basketball star Michael Brooks, who passed away last summer, shown here in front of photograph of his father, at LaSalle University, Philadelphia, Tuesday,
                        Feb. 21, 2017.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>“That was probably the hardest thing,” he said later, “to keep it in.”</p>





            <p>Sitting among the hundred people in the auditorium, looking up at him and the screen with a proud and melancholy smile, was the woman who called him “Michael Jr.”: his aunt Aleta Arthurs Lee, Brooks’ youngest sister. More than anyone else,
                she had provided depth, dimension, and color to Johnson-Brooks’ image of his father. For the final 28 years of his life—until, while hospitalized and undergoing treatment for the blood disorder aplastic anemia, he suffered two strokes,
                the second of which was so massive that he never recovered from it—Brooks had lived in France and Switzerland. He returned to the United States just once, closing himself off for much of that time from the friends he had made in high school
                and college and the NBA, from the Philadelphia basketball community, from his oldest son. Aleta remained Brooks’ strongest connection to his hometown, to the people who had once known him well, to a son who barely knew him at all.</p>
            <!-- </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-12 col col-md-offset-0" alignment="true"> -->

            <div class="imagebreak">
                <div class="img-fluid">
                    <img src="http://media.philly.com/images/brooks_aleta_1200.jpg" width="100%" />
                    <div class="containerPhotoCredit" alignment="true">LA SALLE UNIVERSITY</div>
                    <div class="containerPhotoCaption" alignment="true">Michael Brooks' sister Aleta at his Hall of Fame ceremony.</div>
                </div>
            </div>
            <!-- </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true"> -->

            <p>She had attended award ceremonies and Hall of Fame inductions in Brooks’ place, happy to stand in for him, honored on his behalf. She had fielded all the questions from those who wondered what he was doing in Europe and why he had been gone
                for nearly three decades—questions that came with greater frequency after his death. She was the one who had put Michael Jr. in touch with his father, who got them talking once a year or so, who filled the intervals between those phone
                calls and brief FaceTime sessions by telling Michael Jr. about the big brother she hadn’t seen in person since 1998 but still loved so much. She explained her brother, accounted for him, excused him, protected him, devoted herself to the
                preservation of his good name. She helped Michael Jr. to understand his father and, ultimately, to forgive him. She had given a phantom bone and flesh and hopes and regrets.</p>


            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right largeRight">
                <img class="img-fluid" src="http://media.philly.com/images/brooks_lasalle_jumpshot_vertical.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">LA SALLE UNIVERSITY</div>
                <div class="containerPhotoCaption" alignment="true">La Salle’s Michael Brooks scores against Duke’s Mike Gminski in a home game at the Spectrum on January 21, 1978.</div>
            </div>


            <p>Brooks had occupied a unique place in Philadelphia basketball—a national player of the year who had heralded a renaissance in the Big Five and who had been held in such esteem that he was named captain of the 1980 U.S. Olympic team; a native
                son who was at once famous and forgotten; a once-transcendent figure who had managed, for all practical purpose, to disappear. He had given a brief phone interview, just a half-hour, six weeks before dying, but he had consented to speak
                publicly only at Aleta’s urging, as a response to an article speculating about him and his withdrawal, and in the interview he had shed only so much light about himself. Why had he cocooned himself from the history he had made, from the
                teammates and coaches and competitors who had witnessed him make it, from a deeper relationship with his eldest child? What, if anything, about his past or his personality led him to that choice? He had left the answers to these inquiries,
                and others, ambiguous, and his death had renewed interest in and curiosity about the story of his life. Aleta was the one who knew that story best. To tell it as fully as possible, to satisfy that curiosity, you had to begin with her,
                and with the young man, 28 years old, who was about to speak.</p>
            <p>Michael Jr. began without extemporization, in a flat monotone, diving right into Psalm 23, the text so common at funerals and memorials, so recognizable within popular culture. <em>The Lord is my shepherd. I shall not want.</em> … It was better
                to open with something familiar, with phrases he already knew by heart. <em>Nay, though I walk through the valley of the shadow of death</em> … It would help him gain, and maintain, his composure. <em>Surely goodness and mercy shall follow me all the days of my life, and I will dwell in the house of the Lord forever.</em></p>
            <p>He paused, and his voice acquired volume and texture.</p>
            <p>“And I have one that’s on behalf of myself,” he said. “It’s a short, short verse, but it’s something special between him and me. It’s Proverbs 19:21: ‘Many are the plans in a person’s heart, but it is the Lord’s purpose that prevails.’”</p>
            <p>The room silent, he stepped quickly to the front row and sat down, falling in among those who had always assumed they would meet Michael Brooks again, someday.</p>
            <div class="subhead">
                The ride to stardom</div>
            <p>Brooks’ friends and acquaintances still look for reasons that he cut himself off from his country, from them, and often they home in on his parents’ interracial marriage, with his father, Rudolph, who was black, and his mother, Rita, who was
                Italian. It’s a convenient armchair diagnosis to explain that which seems inexplicable—difficult childhood leads to identity crisis, which leads to inner turmoil, which leads to seclusion and comfort on another continent—but it’s incomplete.
                Both he and Aleta said that in the roiling 1960s and ‘70s, the family’s racial and ethnic composition created more tension in their Southwest Philadelphia neighborhood, which was cleaved along the same lines that their household blurred,
                than it did among the Brookses themselves.</p>
            <p>Yes, Aleta heard the stories about what her mother endured while Rita was pregnant with her: blacks skeptically eyeballing her and her belly from a distance, whites egging the Brookes’ porch and calling Rita a “n---r lover.” Yes, on his way
                home from school, Michael sometimes ran along the underground trolley tracks to avoid the slurs and confrontations. And yes, it wasn’t unusual to see Rita emerging from the front door of the Brookses’ rowhome, on the 5700 block of Belmar
                Terrace, to smack Michael’s backside with a broom, literally sweeping him back into the house and away from the gangs that patrolled the corners during those charged, anxious times.</p>


            <div class="col-xs-12 col-sm-6 col-md-10 col-lg-10 centerFloat">
                <img class="img-fluid" src="http://media.philly.com/images/michael-brooks-11b.jpg" alt="" width="100%/">
                <div class="containerPhotoCaption" alignment="true">Michael Brooks in West Catholic.</div>
            </div>


            <p>This was life for the Brooks children: Michael, the eldest; his sister RiRi, a year-and-a-half younger; and Aleta, eight years younger, the baby of the family. This was normal for them. They didn’t like it, Aleta said, but they didn’t grapple
                with it. Who grapples with things that are normal? Any suggestion otherwise practically offended them. After their parents divorced and their father moved out, the three children watched their mother work her way up from teller to assistant
                manager at a local bank, saving what she could to put them through Catholic school, instilling in them the parallel beliefs that they would always look for the best in people while they lived under her roof and that they could make their
                own judgments and choices once they were old enough. Besides, if the cruel words of outsiders cut Michael too deeply, there was always that decaying hoop and backboard nailed to a light pole at the corner of 58th and Willows Avenue. There
                was always a court nearby, where, he said, “I was just Michael Brooks the basketball player, not Michael Brooks the half-breed.”</p>
            <div class="imagebreak">
                <div class="img-fluid">
                    <img src="http://media.philly.com/images/brooks_west_catholilc_1976_vertical.jpg" width="100%" />
                    <div class="containerPhotoCredit" alignment="true">File photo</div>
                    <div class="containerPhotoCaption" alignment="true">Michael Brooks shoots during a May 1976 West Catholic game.</div>
                </div>
            </div>
            <p>As a freshman at West Catholic, Brooks was the last player on the bench … for the freshman team. He was 6-foot-3 but frail and willowy, a kid whose confidence outstripped his ability. Bill McDevitt, one of his classmates and teammates, remembered
                Brooks arguing in the locker room one day after practice with one of the team’s better players over which of them would make it to the NBA first. The debate seemed ludicrous to McDevitt at the time, but the following year, Brooks returned
                taller, stronger, and more skilled. It was impossible not to notice his evolution, even if, to his family, he was the same Michael he’d always been. In the Brooks home, he was still the prankster big brother, rousing RiRi in the middle
                of the night, chasing her around the house as if they were Looney Tunes characters, then ducking back into his room when Rita woke up, leaving his sister alone to suffer their mother’s wrath. He had a habit of rocking his head while he
                slept, and he’d wake up in the morning with his hair swept up in a cotton-candy-style cone, then spend several minutes sculpting his Afro and, as Aleta put it, “practicing his moves” in the mirror to make sure his clothes fit just so,
                then ask no one in particular, <em>I’m a good-looking guy, aren’t I?</em></p>
            <p>The sequence never failed to make his sisters laugh, to keep them seeing him as a carefree teenager when, on the basketball court, he was becoming a man before everyone’s eyes. In his yearbook graduation photo, he wore a white tuxedo and black
                bow tie, and his entry included a nickname that hinted at his physical maturity: “Feet.” By the end of his junior season, local college assistant coaches—Jim Boyle at St. Joseph’s, Bill Michuda at La Salle—had become fixtures at West Catholic
                practices. During his senior season, 1975-76, he led the Philadelphia Catholic League in scoring and rebounding, carried the Burrs to a 28-3 record, and established one of the city’s great individual basketball rivalries, between him and
                West Philadelphia High’s Gene Banks.</p>
            <p>A grade behind Brooks in school, Banks—and his recruitment—eclipsed every other high school athlete or story in Philadelphia. The Daily News assigned a writer, Gary Smith, to cover Banks and Banks alone: the man-child as reporting beat. “I
                benefited from Gene,” Brooks once said. “I could improve without pressure.” The two had competed against each other in ferocious summertime pickup games at Sherwood Playground and in the Sonny Hill and Baker Leagues, but they weren’t close
                until Brooks showed up one afternoon at Banks’ house for a visit, an overture to get to know each other better. Before long, Brooks was charming Banks’ mother, walking her through Rita’s spaghetti recipe, helping her chop peppers and stir
                the red gravy. “That’s where our friendship grew,” Banks said.</p>

            {% set quote = ["We did the Jeffersons thing and moved on up.", "Aleta Arthurs Lee"] %} {% include "partials/left-quote.html" %}

            <p>Banks eventually chose to play at Duke University, but Brooks picked La Salle, a decision that came with tangible benefits for him, his mother, and his sisters. He received a full athletic scholarship, and Bob Herdelin, a local real-estate
                mogul and himself a former basketball star for the Explorers, bought a 1,700-square-foot twin home on the 5300 block of Chew Avenue, a short walk from campus, for the Brooks family. There is no available evidence that Herdelin was acting
                on behalf of La Salle and no indication that anyone there knew of the transaction, La Salle athletic director Bill Bradshaw said, and there are no records of Herdelin’s making any financial contributions to the university. Property records showed that
                Herdelin purchased the house for $16,000—he signed both the deed and the mortgage—and both he and Aleta, in separate interviews, confirmed his role in the family’s relocation. “We did the Jeffersons thing,” Aleta said, “and moved on up.”</p>
            <p>Regardless of the reasons for his choice, Brooks helped reinvigorate the Philadelphia college basketball scene at a time when its relevance and cachet were in decline. Over the 1974-75 and 1975-76 seasons, Villanova, Temple, Penn, St. Joseph’s,
                and La Salle combined for an aggregate winning percentage of .494. Six times in that two-year span, a Big Five team won no more than 11 games. The rivalries had lost their vibrancy; an infamous Daily News back-page photo captured Harry
                “Yo-Yo” Shifren, the endearing vagabond who was the unofficial mascot of the Big Five, sleeping during a sparsely attended doubleheader. But the subsequent four years saw the city’s programs ascendant, the Palestra once more a bubbling
                pot of screams, streamers, sweat. Villanova posted three 23-win seasons and advanced to the 1978 NCAA tournament’s regional final. Penn made its astonishing run to the 1979 Final Four. And under two head coaches, Paul Westhead and Dave
                “Lefty” Ervin, who encouraged breakneck basketball, Brooks became the most dominant player in the city and one of the most thrilling in the country.</p>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right largeRight">
                <img class="img-fluid" src="http://media.philly.com/images/brooks_guarding_lasalle_vertical.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">File photo</div>
                <div class="containerPhotoCaption" alignment="true">Mike Brooks blocks the path of Mark Garilitos during game action February 8, 1978.</div>
            </div>
            <p>Six-foot-7, with long arms so corded with muscle they resembled giant licorice ropes, Brooks played as if the 40 minutes of competition consumed him, as if nothing else in his life mattered—a melding of abandon and earnestness, freedom and
                obligation. “When the ball went up, he did not smile,” teammate Greg Webster said. “He was almost brooding.” At practice, he sprinted throughout every line drill. During games, he dunked the ball at every opportunity, regardless of the
                situation. The sooner he got out on a fastbreak, the higher he leaped, the harder he jackhammered the ball through the basket, the better. “If we were playing Hofstra and there were five minutes left in a tight game,” said Bradshaw, who
                in his first stint as La Salle’s athletic director at the time, “Michael was going to take a lob and throw it down.” In a 108-106 triple-overtime loss to BYU at the Marriott Center in Provo, Utah, in his senior season, Brooks scored 51
                points, including all 28 of La Salle’s points during one 16-minute stretch. “We tried one, two, and even three men on him,” BYU coach Frank Arnold said afterward. “He went over, through, and around them.” At the game’s conclusion, the
                22,791 spectators gave Brooks a standing ovation. Touched by the gesture and exhausted after having played all 55 minutes, he wept.</p>


            <p>His ferocity on the court struck a stark contrast with his affability and accessibility off it. “He had a great sense of humor,” said Dave Davis, a freshman guard for La Salle when Brooks was a senior. “He was nice to all his teammates, whether
                you started or sat on the bench. I never remember him getting angry for any reason.” Filling out a publicity questionnaire upon entering La Salle, Brooks listed his major as sociology, his hobbies as “listening to music, watching girls,”
                and his post-college goals as “pro basketball, own(ing) a chain of hotels.” He finished his La Salle career with 2,628 points—he remains among the NCAA’s top 30 scorers—won the Kodak National Player of the Year award after averaging 24.1
                points and 11.5 rebounds as a senior, then played intramural water polo, just for fun. “He was,” Bradshaw said, “the most visible and charismatic figure on campus.” When Aleta’s friends, just beginning their teenage years, happened to
                encounter her brother on the street, they’d stop to stare and giggle, and Aleta could only shake her head, knowing that all those hours Michael had spent in front of the mirror, practicing his moves, were paying off. “To me,” she said,
                “he was just my goofy big brother. To the girls … not so much.”</p>
            <p>Aleta and her family were just beginning to get a greater, truer sense of Michael’s celebrity, of his place in the basketball firmament. In July 1979, he starred for the United States’ gold-medal team at the Pan-American Games in San Juan,
                so impressing coach Bob Knight that Knight reaffirmed in an interview last year what he said of Brooks then: that he was “one of the five best kids I ever coached.” In an essay in the Aug. 16, 1979, edition of The Catholic Standard and
                Times, RiRi described the family room in the Brooks’ Chew Avenue home: “We have a handsome portrait of Michael, surrounded by his many awards. We have named it ‘The Shrine.’” But his performance in Puerto Rico and Knight’s subsequent praise
                had elevated his profile well beyond the boundaries of the local press. In January 1980, Sports Illustrated profiled him, comparing him to another La Salle legend: Tom Gola. In May—less than three weeks before the San Diego Clippers selected
                Brooks with the ninth pick in the NBA draft—Dave Gavitt, the head coach of the 1980 U.S. Olympic men’s basketball team, announced that Brooks would be the team’s captain. The likelihood that President Jimmy Carter would have the U.S. boycott
                the Moscow Games, to protest the Soviet Union’s invasion of Afghanistan, had dissuaded other well-known college players from trying out, but Brooks was enthusiastic about the prospect of representing his country. He felt a sense of relief
                and happiness upon making the team, he said at the time, and had been honored that Gavitt had thought enough of him to invite him to the Olympic trials. “The least I could do,” he said, “was return that respect.”</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col col-md-offset-0" alignment="true">
            <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/brooks_feb1980_1200.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">File photo</div>
                <div class="containerPhotoCaption" alignment="true">La Salle's All-American forward Michael Brooks (left) is congratulated by La Salle coach Lefty Ervin after Brooks broke the school's scoring record on Feb. 19, 1980.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>Brooks was one of just two seniors Gavitt kept on the roster; Notre Dame’s Bill Hanzlik was the other. Instead of competing in Moscow, the team played a six-game “Gold Medal” series against five NBA all-star teams and the 1976 U.S. Olympic
                team, a barnstorming-style tour that started in Los Angeles and ended in Greensboro, N.C. The Olympians went 5-1, with Brooks’ leading them in scoring at 13.2 points a game, with Aleta donning a gleaming red-white-and-blue sweat suit for
                the series’ two games at Madison Square Garden and savoring the spectacle almost as much as her brother did. Almost. Hanzlik recalled that the White House, in an attempt to appease the athletes in the wake of boycott, invited them to Washington,
                D.C., in late July, presenting them with Congressional Gold Medals and putting them up in a posh hotel with an outdoor swimming pool at its center.</p>
            <p>“Guys were having a pretty good time, and these female weightlifters and gymnasts and volleyball players were in the pool with the guys,” Hanzlik said. “It was pretty crazy. The cops ended up having to come and say, ‘You guys have to quiet
                down.’ I was not involved, but I do remember Michael being in the pool.”</p>
            <p>This was the life that Brooks grew accustomed to, that his family grew accustomed to, as his career advanced into the NBA. He was 3,000 miles away on the West Coast, on the road often, returning to Philadelphia when he could, but it was a
                life he enjoyed, and as a younger man, he involved his family members in it as much as possible, covering their finances, sharing his newfound wealth.</p>
            <p>He would take his mother and sisters out to a late-night dinner at a Morton’s, marvel over the lavish spread of his relatives and friends socializing together, and laugh at Rita’s objections. <em>Michael, I am not having ribeye at 11 o’clock at night. … Aww, come on, Mom! This is when I eat! </em>He
                owned a sports coupe, a 280ZX, and when Aleta visited with her daughter Kristin, Brooks frequently took the baby out for an afternoon drive. “She was his chick magnet,” Aleta said, “and he just fell in love with her.” Once, the Brookses
                joined one of Michael’s teammates and idols, Joe Bryant, for a day with their families at the San Diego Zoo. As Aleta walked the grounds, she pushed a stroller. Strapped into the carriage was the youngest of Joe and Pamela Bryant’s three
                children, a 2-year-old toddler named Kobe. Everyone was along for the ride.</p>

            <div class="subhead">
                ‘It was like he got shot’</div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right">
                <img class="img-fluid" src="http://media.philly.com/images/brooks_clippers_card_vertical.jpg" alt="" width="100%/">
                <div class="containerPhotoCaption" alignment="true">Michael Brooks played for the Clippers.</div>
            </div>
            <p>Over his first three seasons with the Clippers, Brooks played in all 246 of the team’s games, averaging 14.1 points and 6.5 rebounds, earning his coaches’ and peers’ respect with his work ethic. “He ran in the streets, ran for conditioning,”
                former Clippers guard and NBA coach Lionel Hollins said. “He was always in the gym, practicing. He <em>wanted</em> to be out there.” One day after the 1982-83 season, when the two players were scheduled to become restricted free agents,
                Hollins called Brooks to recommend a negotiating ploy: Both of them had to consider holding out into the following season. If Brooks re-signed for less than market value, Hollins feared that the Clippers would try to low-ball him, too.
                But Brooks’ consecutive-games streak meant so much to him, according to Hollins, that he refused to go along with the strategy and agreed to a new contract with the Clippers anyway.</p>
            <p>“I wasn’t going to stop him,” Hollins said, “from doing what he wanted to do.”</p>
            <p>In San Diego, he was not the superstar he had been at La Salle, the higher level of competition exposing weaknesses in his game for which his diligence and natural talent could no longer compensate. At 220 pounds, Brooks wasn’t bulky enough,
                relatively speaking, to be an elite power forward, and he didn’t shoot well enough from the outside to excel as a pure small forward. In 1982, the Clippers drafted Terry Cummings, who replaced him in the starting lineup. But there was
                no doubt that Brooks was a solid professional, reliable, coachable—“He was a delight,” said Jim Lynam, a West Catholic alumnus and the Clippers’ head coach from 1983 to 1985—and that he was on track for a long NBA career.</p>
            <p>Then, on Feb. 4, 1984, in a game at Richfield Coliseum near Cleveland, Brooks stole the ball from the Cavaliers’ Paul Thompson, passed it to teammate Billy McKinney, and took a couple of strides before, he said later, he felt the sensation
                of walking down a flight of stairs and missing one. He fell to the floor and grabbed his right knee. “It was like he got shot,” Lynam said. “Absolutely no contact. Boom.” He had torn his anterior cruciate ligament—an injury that, without
                the more-advanced treatment available to athletes today, put his career in jeopardy.</p>

            {% set quote = ["As a young player in the NBA, you think you’re invincible.", "Michael Brooks"] %} {% include "partials/left-quote.html" %}


            <p>For the next 2½ years, to everyone except his family, it seemed as if Brooks had vanished. Inducted into the Big Five Hall of Fame in 1986, he didn’t attend the ceremony. The Clippers relocated to Los Angeles, but he neither used their training
                facilities nor showed up at any of their games, choosing to carry out his post-surgery rehabilitation near San Diego. “As a young player in the NBA, you think you’re invincible,” he said last year. “Everything is basically there for you.
                When you get hurt, if you don’t have a good support group, you can really fall into a hole quickly because you feel, ‘Where are all these people who were here when everything was going right?’ As soon as you get hurt, nobody wants to be
                around you.”</p>
            <p>His mother, a devout Catholic, gripped her holy card every morning and prayed that he would walk normally again. The assistance that Aleta lent him was more hands-on; she moved to San Diego to be his caretaker.</p>
            <p>“He was trying to get back to where he was with an injury that, at that time, most people didn’t even come back from,” she said. “Michael was a guy who believed you don’t let your slip show. Nobody’s going to know he’s struggling with something.
                All they’re going to know is, ‘I got hurt, and I’ll be back.’ What happens in that middle is none of anyone else’s business.”</p>
            <p>In early October 1986, he worked out, alone, for the Clippers’ coaches and front-office members in the gym at Cal-Poly Pomona, shooting, driving, cutting, shuffling laterally. He began to hyperventilate as he carried out the drills. The Clippers
                did not sign him. He spent brief stints with the Indiana Pacers and Denver Nuggets, was named the Continental Basketball Association’s most valuable player in 1987-88 while with the Albany Patroons, and returned home in the summer of 1988,
                joining the Philadelphia Aces of the United States Basketball League.</p>
            <p>Brooks played his final basketball game in Philadelphia at St. Joseph’s Fieldhouse, scoring 38 points in the Aces’ 122-118 loss to the New Haven Skyhawks in the semifinals of the USBL playoffs. Afterward, he met his old West Catholic classmate
                and teammate Bill McDevitt for beers at a pub near campus; the two had stayed in touch since their freshman year. A month earlier, the Charlotte Hornets had selected Brooks with the 14th overall pick in the NBA expansion draft, but they
                had angered him by making a more lucrative contract offer to former Lakers forward Kurt Rambis. A professional team in France, Limoges CSP, in turn had offered Brooks a one-year deal worth a reported $170,000. <em>I’m going to Europe</em>,
                Brooks told McDevitt. More, he was leaving the next day.</p>
            <p>“I never heard from him again after that night,” McDevitt said.</p>
            <p>That night was July 27, 1988. Thirty four days later, on Aug. 30, a baby boy was born at the Hospital of the University of Pennsylvania: 7 pounds, 15 ounces, 22 inches long. His mother’s name was Jacklynn Johnson. His first name was his father’s.</p>
            <div class="subhead">
                A son’s burden</div>
            <p><em>Yo, you’re Michael Brooks’ son. We’re picking you first.</em></p>
            <p>Mount Airy Playground, at the intersection of West Sedgwick Street and Germantown Avenue. A full court and a half-court. Three baskets, three unforgiving double rims. A flock of kids in T-shirts and mesh tank tops and shorts. Michael Johnson-Brooks
                was 11 years old, in fifth grade, and at his first Jr. NBA camp. Already there was a presumption that he was the chosen one in the crowd, that basketball had been woven into the double helix at the center of every cell in his body. He
                played that day because he liked the sport, but he was all right, just all right, and he sensed that the kids and the counselors had expectations for him and that he did not meet them, and it hit him like a thunderbolt: <em>I don’t want to do this. I don’t want to play basketball.</em>                Only later could he articulate the realization that charged his mind and heart at that moment: <em>Basketball defined my father. I don’t know my father. I will find something else to define me. Screw my father.</em></p>
            <p>How would you have felt? His parents had met when Brooks was playing in the Sonny Hill and Baker Leagues, and they dated on and off while they were at La Salle together and again after college. But the relationship never could last, and even
                though Brooks knew he was to be a father before he left to play overseas, he left anyway, his relationship with his first-born the greatest casualty of his choice.</p>
            <p>“That move is what detached them completely,” Aleta said. “It really is—Michael not being in the United States and not being accessible to as many people as he should have been.”</p>
            <p>While Brooks became a legend in France, helping Limoges win two Pro A championships, earning MVP honors each of those years, moving on to play in Levallois and Strasbourg, coaching in France and Switzerland, getting married and divorced and
                having four more children, his oldest son grew up asking himself that question every son whose his father isn’t home asks himself: <em>Is it my fault he’s not here?</em> Jacklynn balanced her parental duties between providing for Michael
                Jr. and rearing him, opening an accounting practice and insisting that he focus on his studies first. “She’s very stern,” he said. Though Brooks was not involved in Michael Jr.’s early life, Jacklynn made sure that two male role models
                were: his grandfather, Jack Johnson, who died when Johnson-Brooks was 12; and his uncle Bill Johnson. Still, Michael Jr. was mindful at all times that neither of them was his father. Neither of them possessed veto power over his actions,
                the authority to discipline him when he would talk back to his mother or mess up at school or do any of the silly things that a kid does. Neither of them was there every day, as a dad would be, as a dad should be, and his dad wasn’t there
                <em>any</em> day. Back then, he said, he never got a concrete explanation for why Brooks wasn’t around, why he didn’t write, why he didn’t pick up the phone. Wouldn’t a letter or two, an occasional long-distance call, have let him know
                that at least his father was thinking of him?</p>

            {% set quote = ["I know he has his own life, but I’m his <em>son</em>. He could have put out the effort. He didn’t.", "Michael Brooks Jr."] %} {% include "partials/left-quote.html" %}

            <p>“Yeah,” he said, “I probably would have felt better if I knew my dad wanted to hop on a plane and come see me, if my dad was going to bat for his son—you know what I mean? At the end of the day, my mom can have all the control she wants to,
                but I’m his son. I know he has his own life, but I’m his <em>son</em>. He could have put out the effort. He didn’t.”</p>
            <p>Brooks said last year that he had found a new life in Europe with his fiancée, Jacqueline Uberti. His four youngest children—Athena, 27; twins Julien and Jasper, 24; and Sasha, 10—were in France, not far from him. He lived on the western edge
                of Switzerland in Etoy, a village of lush vineyards and Modern architecture 30 miles north of Geneva, and was coaching Blonay Basket, a men’s team in the country’s First League. Blonay won the league championship last year, and Brooks—weakened
                by the aplastic anemia, receiving three blood transfusions a week, pocks dotting his legs and the inside of his mouth—rose out of a hospital bed each morning to drive three hours to coach the team in the semifinals. “He was full of passion
                for the game,” said Yuval Keren, who befriended Brooks while he was coaching Blonay. “He created the motivation for the players and gave them confidence to take chances, to believe in themselves.”</p>
            <p>His life in the United States? “There are always going to be memories,” Brooks said, but he didn’t share them often. Keren never heard him talk about the past. He treasured his privacy, the clean start that Europe had afforded him. He considered
                himself to be on a quest, in search of a culture and an environment that suited him, and he acknowledged that people might resent him for letting them fade from his journey, like jetsam on the sea. “But sometimes,” he said, “you have to
                do that.” This was his choice, and he was happy. His achievements, his knee injury, so many friends: Amid the seclusion of a Swiss countryside and his contentment there, it was as if they had never happened or no longer existed.</p>
            <div class="imagebreak">
                <picture>
                    <source media="(min-width: 500px)" srcset="http://media.philly.com/images/brooks_map_725.png">
                    <source media="(min-width: 465px)" srcset="http://media.philly.com/images/brooks_map_350_v2.png">
                    <img src="http://media.philly.com/images/brooks_map_350_v2.png" alt="Flowers" style="width:auto;">

                </picture>
            </div>
            <p>“Regrets are for losers,” Brooks said.</p>
            <p>What about Michael Jr.? he was asked. Do you have any regrets about your relationship with him? He’s your son, after all.</p>
            <p>“As far as I know, this is a situation where we never really decided if he was or not,” he said. “I would prefer not to speak about that.”</p>
            <p>Those words stung Michael Jr. He had never had a doubt about his father’s identity—no one had—and he knew Brooks had known the truth, too. One night while he was a student at Montgomery County Community College, Michael Jr. sat down at his
                computer and said to himself, <em>Why the hell not?</em> Through an online French directory, he found Brooks’ home number and dialed, only to hang up when the groggy, slurred male voice on the line made it clear that, forgetting about
                the difference in time zones, Michael Jr. had probably woken his father from a deep sleep. <em>Never really decided?</em> Aleta had kept baby pictures of Michael Jr. for years, then searched for him on Facebook in 2008, found him, and
                arranged for them to meet at Penn, where Aleta manages meetings and special programs for the university’s library system. The two of them embraced on the quad, and Aleta ushered him right up to her office, where she got her brother on
                the phone, put him on speaker, and let the two Michaels talk to each other for the first time in their lives. And now, Brooks was going to deny that connection? Aleta didn’t believe it. Something else had to be at work.</p>
            <p>“It was his way of avoiding something that he couldn’t talk about because he didn’t know enough,” she said. “That’s the key thing. He didn’t know this young man enough to even have a conversation about him. That’s not cool, and that’s what,
                I think, he was struggling with.</p>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 centerFloat ">
                <img class="img-fluid" src="http://media.philly.com/images/brooks_opel_vertical.jpg" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">credit</div>
                <div class="containerPhotoCaption" alignment="true">Michael Brooks playing for Limoge.</div>
            </div>
            <p>“He felt like the NBA let him down a little bit, and Europe embraced the heck out of him. I believe his loyalty was to that, because they did that for him. And you have to understand Michael as a person: very laid-back, a don’t-bring-me-no-bad-news
                guy, everything is cool. He liked the fact that European people were just chill like that. Their way of life worked for who he was as a person, and you have to remember he started a family there in addition to his child here. I don’t think
                it’s that Michael just didn’t want to come back. It’s that he didn’t really see any need for it at the time. But with age comes wisdom. He was there for 28 years. He started to understand, ‘You know, I need to see what I can do, maybe
                head back.’”</p>

            {% set quote = ["He felt like the NBA let him down a little bit, and Europe embraced the heck out of him.", "Aleta Arthurs Lee"] %} {% include "partials/left-quote.html" %}

            <p>In all those years, though, he returned to the United States just once, to San Diego in 1998 to visit his mother, who lives there still, and Aleta, who was in town on business. He never came east on that trip, never set foot inside West Catholic
                or the Palestra or on La Salle’s campus, never made time to see Michael Jr., and never returned to the United States again. Even after doctors had diagnosed his aplastic anemia, in 2011, Brooks had five years to deepen his relationship
                with Michael Jr., cognizant that his situation might turn dire, that his body would stop producing blood cells, that he would be vulnerable to infections and other trauma, that he might need a bone-marrow transplant. Yet he never really
                closed the physical or emotional distance between them.</p>
            <p>It was just another contradiction that Michael Jr., the more he interacted with Aleta, the more he learned about his father, had come to accept. As he aged, as he gained more perspective, he realized that he couldn’t be the reason that Brooks
                had left and stayed away. Four years ago, he said, he forgave his father for his absenteeism: “I just wanted to release myself of that burden. By forgiving him, that gets rid of the animosity I had toward him. That gets rid of all that
                kind of stuff. It makes it easier so that when I think about him, it’s good thoughts, even though I didn’t even know him.”</p>
            <p>There was an opportunity, then, for a total reconciliation. Aleta talked with Brooks and Uberti about having them fly over to visit, about bringing Michael and Michael Jr. face to face at last. Brooks just needed to get well first. To hear
                him talk about his condition was to assume his full recovery was a formality, even though he had been undergoing chemotherapy and receiving transfusions and platelets. With each round of treatment, he would tell Aleta, <em>Well, I knocked out those three</em>,
                as if they were nothing more strenuous than a few basketball practices when he was in his prime. In mid-August, there seemed reason to be optimistic: He entered the hospital to receive a bone-marrow transplant.</p>
            <p>On Friday, Aug. 19, remembering that Aleta’s 50th birthday was coming up on the 22nd, he called her after completing four days of chemo and teased her about her age. <em>Call me Monday,</em> he said, <em>so I can wish you a Happy Birthday.</em></p>
            <p>On Monday, Aleta’s birthday, her husband, Chris, took her to lunch in Chestnut Hill. As they sat outside, she took a photograph because, she said, God had given her such a beautiful day. When they returned to their home in Wissahickon Hills,
                Aleta phoned Jacqueline Uberti for an update on Brooks. This is how Aleta remembered their conversation:</p>
            <p><em>“Aleta, they say there’s no hope.”</em></p>
            <p><em>“What? What are you talking about? They say there’s no … what? What? What do you mean there’s no hope?”</em></p>
            <p><em>“I don’t know. First, let me say happy birthday because he would want me to tell you that.”</em></p>
            <p><em>“Why can’t he tell me this?’</em></p>
            <p><em>“Because he is unconscious. They have him on morphine. They don’t think he’s going to make it.”</em></p>
            <p>Brooks’ body had rejected the transplant. Sobbing, Aleta melted to the living-room floor. Chris picked her up and put the phone back to her ear. After composing herself, she called Michael Jr. to tell him—“I couldn’t believe it,” he said—then
                called Uberti back at 5 p.m. Uberti put her phone to Brooks’ ear and told Aleta to talk to him. She did, for 15 minutes.</p>
            <p>“I told him I loved him,” she said, “and I told him I’m sorry and I don’t want to say goodbye to him and this wasn’t supposed to happen but he shouldn’t be in pain anymore, he shouldn’t be suffering, and it’s OK.”</p>
            <p>Regrets are for losers, Michael Brooks had said. But his sister didn’t believe he felt that way at the end. She couldn’t believe it, because of a conversation they had not long before he died. His doctors were still searching for a bone-marrow
                donor for him, and if they could find one within his family, preferably a male, it would increase the likelihood that the transplant would be successful. Aleta told him that she had discussed this possibility with Michael Jr., and that
                he was willing to donate his.</p>
            <p><em>No</em>, Brooks told her. <em>He doesn’t owe me that</em>.</p>
            <div class="subhead">
                 The only sound in the room</div>
            <p>One by one that morning in December, from the lectern in that La Salle auditorium, they had shared their remembrances of Michael Brooks—Gene Banks and Bill Bradshaw and Greg Webster and more. They were men Michael Jr. had never met, telling
                stories he had never heard.</p>
            <p>“It gave me a chance to see he was a good man,” he said. “He was a good person. People make mistakes in life, and I get that. It was good to hear people reflect on him because it kind of gave me memories of him that I didn’t even have.”</p>
            <p>The urn did not contain all of Brooks’ ashes. The rest remain in Europe, with his family there. It took weeks for Aleta to finalize arrangements to have some of them shipped to her on a one-stop flight from Geneva to Philadelphia. Her mother,
                Rita, having lost her only son, could not bear the responsibility. Her sister, RiRi, suffers from a chronic illness. “I’m my brother’s keeper,” Aleta said. Her daughter Alexis accompanied her to the customs area of Philadelphia International
                Airport on the day the ashes arrived, and when they saw the box, Aleta refused to touch it, because the Michael she knew was 6-foot-7, gentle and powerful, and now there was just this … cube … that anyone could carry, with HUMAN REMAINS
                stamped on its side, and she began to cry. She keeps the urn on a table on the second-floor landing of her home. Every day, she descends the stairs, looks at it, and says, <em>Good morning, Michael</em>.</p>
            <p>She has a video, sent to her by Jacqueline Uberti, of his funeral Mass in Switzerland. She will allow only one other person, Michael Jr., to watch it. He plans to do so on Aug. 22, the one-year anniversary of his father’s death. It seems right.</p>
            <p>Michael Jr. did not make basketball his life, as his father did. He works full-time in the recording industry, as a marketer and manager, but he has an idea to form a summer basketball league geared toward middle-school and high-school students
                who perform well academically. “I love the game,” he said. “It’s in my blood.” Through email and social media, he keeps in contact with his siblings in France. In mid-May, he noticed on Instagram that Jasper would be traveling to New York,
                and the two of them met for dinner at Gallagher’s Steakhouse in Midtown Manhattan. It was the first time he had been in the same room with his brother.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col col-md-offset-0" alignment="true">
            <div class="imagebreak">
                <img class="img-fluid" src="http://media.philly.com/images/RS_1300x800_20170807_SIELSKI31_H_362945737.JPG" alt="" width="100%/">
                <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
                <div class="containerPhotoCaption" alignment="true">Michael Brooks Jr., son of former West Catholic High and La Salle University basketball star Michael Brooks, who passed away last summer, shown here walking across campus at LaSalle University, in Philadelphia, Tuesday, Feb. 21, 2017.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p>After Michael Jr. had finished speaking at the ceremony, Aleta rose from her seat, hugged him, and went to the front of the lecture hall. “This,” she said, “was the true essence of who my brother was.” Suddenly, there on the screen behind
                her was Michael Brooks, sitting at a rich brown table in a white-walled room.</p>
            <p>What followed was a two-minute, six-second video that Brooks’ friend Yuval Keren had recorded in January 2016. In it, Brooks is bald, skinny as a rope, his face coated by a salt-and-pepper beard, and he is seated at a table, having dinner
                with several people. One of them holds a pen in front of Brooks’ mouth, pretending to interview with him, and asks, “Do you have anything else to say to your family or any of the people watching you over in the States at home, or anybody
                else?”
            </p>
            <!-- </div>
    </div>
    <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true"> -->
            <p>Brooks does.</p>
            <p>“I miss you. I love you. And God bless you.”</p>
            <p>He stands up. The lights in the room flicker out, then come back on again, as if he has stepped on stage and a spotlight has found him. He opens his arms with a flourish and recites the narration that begins “Have You Seen Her,” the 1971 hit
                by the Chi-Lites, about a man who has lost the woman he loved.</p>
            <p><em>I have a seat on the same old bench</em></p>
            <p><em>To watch the children play.</em></p>
            <p><em>You know tomorrow is their future,</em></p>
            <p><em>But for me, it’s just another day.</em></p>
            <p><em>They all gather around me.</em></p>
            <p><em>They seem to know my name.</em></p>
            <p><em>We laugh, tell a few jokes,</em></p>
            <p><em>But it still doesn't ease my pain.</em></p>
            <p><em>I know I can't hide from a memory</em></p>
            <p><em>Though day after day I've tried.</em></p>
            <p>Around the table, the people with Michael Brooks clap in time with the beat as, <em>a cappella</em>, he continues to the next verse. In a flowing black funeral dress, Aleta snapped her fingers and swayed her hips. Michael Jr. leaned forward
                and listened to the only voice in the room. It was his father's, and it was a song.</p>
            <div class="imagebreak">
                <div class="embed-responsive embed-responsive-16by9"><iframe width="100%" height="auto" src="https://www.youtube.com/embed/nLCLAaRCRUA" frameborder="0" allowfullscreen=""></iframe></div>
                <div class="containerPhotoCaption" alignment="true">Caption.</div>
            </div>
        </div>


    </div>
</div>
<!-- <div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div> -->
